<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
<link rel="stylesheet" src="styles/cat.css">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

</head>
<body>

	<div class="row justify-content-center">
		<div class="col-sm-6">
			<h1>Hello Cats</h1>
			<p id="cat">Purrr purr littel cat, little cat purr purr sleep in the
				bathroom sink crash against wall but walk away like nothing happened
				claws in your leg but eat grass, throw it back up. That box? i can
				fit in that box cats secretly make all the worlds muffins for meow
				to be let out licks paws so paw at your fat belly, need to chase
				tail, for chase after silly colored fish toys around the house. Cat
				cat moo moo lick ears lick paws meow. Touch water with paw then
				recoil in horror find a way to fit in tiny box dead stare with ears
				cocked so chase red laser dot tuxedo cats always looking dapper cat
				is love, cat is life so attempt to leap between furniture but
				woefully miscalibrate and bellyflop onto the floor; what's your
				problem? i meant to do that now i shall wash myself intently. Chase
				laser refuse to drink water except out of someone's glass rub face
				on everything. Pet right here, no not there, here, no fool, right
				here that other cat smells funny you should really give me all the
				treats because i smell the best and omg you finally got the right
				spot and i love you right now. Shake treat bag. Paw at beetle and
				eat it before it gets away kitty power. Friends are not food that
				box? i can fit in that box. Have a lot of grump in yourself because
				you can't forget to be grumpy and not be like king grumpy cat lie on
				your belly and purr when you are asleep and try to jump onto window
				and fall while scratching at wall brown cats with pink ears. Lick
				butt i am the best sniff all the things i am the best pet my belly,
				you know you want to; seize the hand and shred it!</p>
		</div>
	</div>

	<p>testing git changes for jenkins</p> 
	
	<script src = "scripts/cat.js"></script>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>
</html>